body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: teal;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 320px;
    border: 3px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.btn {
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f0f0f0;
}

.span-two {
    grid-column: span 2;
}

.btn:active {
    background-color: #ddd;
}

